.App {
  background-color: #131518;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  /* background-color: #232a34; */
  border-radius: 30px;
  padding: 32px;
  /* display: none; */
}

.star {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262e38;
  border-radius: 50%;
}
.header {
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
}
.paragrap {
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  color: #969fad;
  line-height: 24px;
}

.numbers {
  display: flex;
  align-items: center;
  gap: 21px;
  padding-top: 14px;
  padding-left: 0;
  cursor: pointer;
}

.each-number {
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  background: #262e38;
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-number:hover {
  background-color: #7C8798;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 19px;
  background: #FC7614;
  padding: 11px 137px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
border: none;
border-radius: 23px;
margin-top: 32px;
cursor: pointer;
}

.btn:hover {
color: #FC7614;
background-color: #fff;
}

.cardback {
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}


.selector {
  color: #FC7614;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 24px;
  padding: 4px 20px;
background: #262E38;
border-radius: 22px;

}